<%- include('../partials/header') %>
<section id="scorecard-parent">

  <div id="scorecard-previous">
    <div id="scorecard-next-hole">Hole #</div>
    <div id="scorecard-next-par">Par #</div>
    <div id="scorecard-next-yardage">Yardage #</div>
  </div>

  <div id="scorecard-current">
    <div id="scorecard-current-hole">Hole #</div>
    <div id="scorecard-current-par">Par #</div>
    <div id="scorecard-current-yardage">Yardage #</div>
  </div>

  <div id="scorecard-next">
    <div id="scorecard-next-hole">Hole #</div>
    <div id="scorecard-next-par">Par #</div>
    <div id="scorecard-next-yardage">Yardage #</div>
  </div>

  
</section>
<%- include('../partials/footer') %>