<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <h1><%= title %></h1>
    <header>
      <a href="/">HOME</a>
      &nbsp;|&nbsp;
      <a href="/schedules">SCHEDULE</a>
      &nbsp;|&nbsp;
      <a href="/courses">COURSES</a>
      &nbsp;|&nbsp;
    </header>
    <h3>Welcome to Golf Buddy</h3>
