<!DOCTYPE html>
<html>
  <head>
    <script src="/javascripts/script.js" type="text/javascript"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Golf Buddy</h1>
    <nav>
      <a href="/">HOME</a>
      &nbsp;|&nbsp;
      <% if(user) { %>
        <a href="/times">TEE TIMES</a>
        &nbsp;|&nbsp;
        <a href="/courses">COURSES</a>
        &nbsp;|&nbsp;
        <a href="/users">MY BUDDY</a>
        &nbsp;|&nbsp;
        <a href="/logout">LOG OUT</a>
        <% } else { %>
          <a href="/auth/google" class="login">LOGIN</a>
          <% } %>
        </nav>
