<%- include('../partials/header') %>

<h2>THIS IS <strong>VIEWS / COURSES / INDEX.ejs</strong></h2>
<p>This page will show the courses with a drop down menu</p>
<p>Then information for each course will populate under the drop down contents</p>
<a href="/courses/new">ADD / EDIT COURSES</a>

<table>
  <thead>
    <th>Course Name</th>
    <th>Course Location</th>
  </thead>
  <tbody>
    <% course.forEach(function(c) { %>
      <tr> <%= c.courseName%> </tr>
      <tr> <%= c.courseLocation%> </tr>
    <% }) %>
  </tbody>

</table>

<%- include('../partials/footer') %>