<%- include('../partials/header') %>

<form class="course-container" id="addCourse" action="/courses/<% course._id %>/new">
  <h3>Courses</h3>
  <!-- <select name="courseName">Select your course
    <option>test course placeholder look to add function of existing courses</option>
  </select> -->
  <br>
  <input class="course-input" type="text" name="courseName" value="Course Name">
  <br>
  <input class="course-input" type="text" name="courseLocation" value="Course Location">

  <button type="submit">Submit</button>
</form>

<%- include('../partials/footer') %>