

<%- include('./partials/header') %>

<p>Welcome to Golf Buddy!</p>
<p>Sign in to see our schedule and course information!</p>
<button type="submit">

  <a href="/auth/google" class="login">LOGIN</a>
</button>
<%- include('./partials/footer') %>
