<%- include('../partials/header') %>

<h3>Season Schedule</h3>
<h3>Weekly Groupings</h3>
<h3>Course Information</h3>
<h3>Dates with each schedule</h3>
<h3>Scorecards?</h3>

<%- include('../partials/footer') %>