<%- include('../partials/header') %>

<label>Players
  <select name="user">
    <% users.forEach(function(u) { %>
      <option value="name">
      <%= u.name %>
    </option>
    <% }) %>
  </select>
</label>
<br>

<%- include('../partials/footer') %>