#scorecard-parent {
  display: grid;
  grid-area: main;
  background-color: blue;
  width: 750px;
  margin: 0 auto;
  border-radius: 2vmin;
  grid-template-columns: repeat(2, 80% 20%);
  grid-template-rows: (5, 10% 90%);
}

#scorecard-score {

}

#scorecard-next {
  padding: 1vmin;
}
#scorecard-previous {
  padding: 1vmin;
}
#scorecard-current {
  padding: 1vmin;
}

#scorecard-next-hole, #scorecard-current-hole {
  height: 60%;
  background-color: aqua;
  border: black solid .35vmin;
  border-radius: 2vmin;
}

#scorecard-next-par, #scorecard-current-par {
  height: 20%;
  background-color: aquamarine;
  border: black solid .35vmin;
  border-radius: 2vmin;
  margin-top: 1vmin;
}

#scorecard-next-yardage, #scorecard-current-yardage {
  height: 20%;
  background-color: azure;
  border: black solid .35vmin;
  border-radius: 2vmin;
  margin-top: 1vmin;
}
