#scorecard-parent {
  display: grid;
  grid-area: main;
  background-color: blue;
  width: 90%;
  margin: 0 auto;
  border-radius: 2vmin;
  grid-template-columns: repeat(3, 15% 70% 15%);
  grid-template-rows: (2, 10% 90%);
}

#scorecard-next {
  background-color: beige;
  grid-template-rows: (3, 20% 60% 20%);
}

#scorecard-next-hole {
  height: 50%;
  background-color: aqua;
}

#scorecard-next-par {
  height: 25%;
  background-color: aquamarine;
}

#scorecard-next-yardage {
  height: 25%;
  background-color: azure;
}

#scorecard-next {
  background-color: aqua;
}

#scorecard-previous-hole {
  height: 50%;
  background-color: aqua;
}

#scorecard-previous-par {
  height: 25%;
  background-color: aquamarine;
}

#scorecard-previous-yardage {
  height: 25%;
  background-color: azure;
}

#scorecard-previous {
  background-color: aqua;
}

#scorecard-current-hole {
  height: 50%;
  background-color: aqua;
}

#scorecard-current-par {
  height: 25%;
  background-color: aquamarine;
}

#scorecard-current-yardage {
  height: 25%;
  background-color: azure;
}

#scorecard-current {
  background-color: aqua;
}