* {
  box-sizing: border-box;
  background-color: #006747;
}

nav > a{
  color: #540d0a;
  border-radius: 3px;
}

body {
  color: #fcf400;
  height: 100vh;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 1fr .5fr .5fr 5fr 5fr;
  grid-template-areas:
  "maintitle"
  "nav"
  "subtitle"
  "main"
  "submain"
  ;
}

body > h1 {
  grid-area: maintitle;
  justify-self: center;
  font-size: 7vmin;
}

body > h2 {
  grid-area: subtitle;
  justify-self: center;
  font-size: 6vmin;
  color: #540d0a;
}

body > nav {
  grid-area: nav;
  justify-self: center;
  align-self: center;
  font-size: 3.25vmin;
}

body > main {
  grid-area: main;
  display: flexbox;
  justify-content: center;
  align-items: center;
}

table {
  grid-area: main;
  justify-self: center;
  width: 80%;
}

th {
  color: orange;
  justify-content: center;
  align-items: center;
  border: solid .5vmin black;
  font-size: 3vmin;
}
td {
  color: orange;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: solid .5vmin black;
  font-size: 3vmin;
}

#course-show {
  display: flex;
  justify-content: center;
  text-align: center;
}

#course-show > button {
  font-size: 4.5vmin;
  color: #fcf400;
  width: 50%;
  height: 6vmin;
  border: solid .5vmin #fcf400;
}

#times-show {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
}

#times-show > form > button {
font-size: 4.5vmin;
color: #fcf400;
width: 60%;
height: 6vmin;
border: solid .5vmin #fcf400;
}

#scorecard-partials > table{
  justify-content: center;
  align-content: center;
  text-align: center;
}

#user-scorecard input {
  height: 4vmin;
  width: 4vw;
}

#user-scorecard {
  width: 100%;
}

#history-stats {
  grid-area: submain;
  font-size: 4.5vmin;
  color: #fcf400;
  height: 5vmin;
}