* {
  box-sizing: border-box;
  background-color: green;
}

nav > a{
  color: yellow;
  border-radius: 3px;
  border: solid 2px black;
}

body {
  color: yellow;
  height: 100vh;
  margin: 0;
  display: grid;
  grid-template-rows: 1fr .5fr .5fr 5fr 5fr;
  grid-template-areas:
  "maintitle"
  "nav"
  "subtitle"
  "main"
  ;
}

body > h1 {
  grid-area: maintitle;
}

body > h2 {
  grid-area: subtitle;
}

body > nav {
  grid-area: nav;
  align-content: space-between;
}

body > main {
  grid-area: main;
  display: flexbox;
  justify-content: center;
  align-items: center;
}

#course-table {
  grid-area: main;
  border: solid 2px yellowgreen;
  background-color: white;
  justify-content: center;
  width: 30vw;
  height: 15vmin;
}

#scorecard-table {
  grid-area: main;
  display: grid;
  border: solid 2px yellowgreen;
  justify-content: center;
  width: 30vw;
  height: 15vmin;
}

#scorecard-cell {
  width: 3vmin;
}
/* views/courses/show */
#course-details {
  grid-area: main;
}

#course-container {

}

#course-table {

}

#course-input {

}

#schedule-table {
  grid-area: main;
  border: solid 2px white;
  justify-content: center;
  width: 60vw;
  height: 15vmin;
  font-size: 5vmin;
}