<%- include('../partials/header') %>
<h2>Add a tee-time</h2>
<div class="container">

<form action="/times" method="POST">
  <label>Course</label>
    <select class="form-select" name="course">
      <% course.forEach(function(c) { %>
        <option value="<%= c._id %>">
          <%= c.courseName %>
        </option>
        <% }) %>
      </select>
  <div class="row  mt-4 mb-5">
    <div class="col">
      <label>Date</label>
      <input name="date" type="date" value="date" class="form-control">
    </div>
    <div class="col">
      <label>Time</label>
      <input name="time" type="time" value="date.toDateString" min="06:00" max="19:00" class="form-control">
    </div>
  </div>

  <div class="row d-grid gap-2 col-6 mx-auto">
    <button role="button" class="btn btn-primary btn-lg" type="submit">Let's Golf!</button>
  </form>
  </div>
</div>

<%- include('../partials/footer') %>